<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        {% if title %}
        <title> Risk-meter - {{ title }}</title>
        {% else %}
        <title>Risk-meter</title>
        {% endif %}
    </head>
    <body>
        <div>
            Risk-meter: 
            <a href="/">Home</a>
            <a href="/form">Form</a>
        </div>
        <div id="main-div">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>