<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% if title %}
        <title>Risk-meter - {{ title }}</title>
        {% else %}
        <title>Risk-meter</title>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar">
                <div class="navbar-brand">Risk-meter</div>
                <ul class="navbar-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/form">Form</a></li>
                </ul>
            </nav>
            <main id="main-div">
                {% block content %}{% endblock %}
            </main>
        </div>
    </body>
</html>
