{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Homes {% endblock %}</h1>
    
    <p>Welcome to the risk-meter. This page provides a form to help evaluate potential risks based on specific factors. By filling out the form, you’ll receive a personalized <strong>risk assessment</strong> that considers the <strong>service authentication practices</strong>, the potential <strong>risk of data exposure</strong>, and your <strong>risk appetite</strong>. These elements are analyzed to help you understand areas that may require attention to enhance data security and align with your risk tolerance.</p>
    
    <!-- Minimalist button styling for form link -->
    <p><a href="/form" class="button">Proceed to Form</a></p>

{% endblock %}

